{{comment}}

@font-face {
	font-family: {{fontName}};
	src: url('{{fontPath}}/{{fontName}}.eot');
	src: url('{{fontPath}}/{{fontName}}.eot?#iefix') format('embedded-opentype'), url('{{fontPath}}/{{fontName}}.woff') format('woff'), url('{{fontPath}}/{{fontName}}.ttf') format('truetype'), url('{{fontPath}}/{{fontName}}.svg#{{fontName}}') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon {
	&::before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: 'icons';
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
		@content;
	}
}

[class^='ico-'],
[class*=' ico-'],
.ico {
	@include icon;
}

// Icon Variables
{% for icon in icons -%}
$icon-{{icon.name}}: '\{{icon.code}}' !default;
{% endfor %}

// Icon Mixins
{% for icon in icons -%}

@mixin icon-{{icon.name}} {
	@include icon {
		content: $icon-{{icon.name}};
	}
}

{% endfor %}

// Icon Classes
{% for icon in icons -%}

.ico-{{icon.name}}::before {
	content: $icon-{{icon.name}};
}

{% endfor %}
