{{comment}}

$icon-font-path:        '{{fontPath}}' !default;
$icon-font-size-base:   14px !default;
$icon-line-height-base: 1 !default;
$icon-css-prefix:       ico !default;

@font-face {
	font-family: {{fontName}};
	src: url('#{$icon-font-path}/{{fontName}}.eot');
	src: url('#{$icon-font-path}/{{fontName}}.eot?#iefix') format('embedded-opentype'), url('#{$icon-font-path}/{{fontName}}.woff') format('woff'), url('#{$icon-font-path}/{{fontName}}.ttf') format('truetype'), url('#{$icon-font-path}/{{fontName}}.svg#{{fontName}}') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon {
	display: inline-block;
	font: normal normal normal #{$icon-font-size-base}/#{$icon-line-height-base} {{fontName}};
	font-size: inherit;
	text-rendering: auto;
	font-feature-settings: 'liga';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::before {
		@content;
	}
}

[class^='#{$icon-css-prefix}-'],
[class*=' #{$icon-css-prefix}-'],
.#{$icon-css-prefix} {
	@include icon;
}

// Icon Variables
{% for icon in icons -%}
$icon-{{icon.name}}: '\{{icon.code}}' !default;
{% endfor %}

// Icon Mixins
{% for icon in icons -%}

@mixin icon-{{icon.name}} {
	@include icon {
		content: $icon-{{icon.name}};
	}
}

{% endfor %}

// Icon Classes
{% for icon in icons -%}

.#{$icon-css-prefix}-{{icon.name}}::before {
	content: $icon-{{icon.name}};
}

{% endfor %}
